<div class="contact">
  <a class="githubIcon" href="https://github.com/{{ include.username }}">Bryan Rolando's github</a>
  <a class="mailIcon" href="mailto:{{ site.email }}">Bryan Rolando's mail</a>
</div>
<!--
<div class="contact">
  <a href="https://github.com/{{ include.username }}"><img class="contact-icon" src="{{ "/assets/icons/" | relative_url }}mark-github.svg"></a>
  <a href="mailto:{{ site.email }}"><img class="contact-icon" src="{{ "/assets/icons/" | relative_url }}mail.svg"></a>
</div>-->